.abouts{
    font-size: 1.4em;
    padding-top: 2.5%;
}
.paragrafos_abouts p{
    padding-top: 2.5%;
}
.infosolo{
    font-size: 1.4em;
    margin-top: 2.5%;
}
.infosolo h6{
    color: var(--azul);
}
@media (max-width: 768px){
    .paragrafos_abouts{
        font-size: 0.5em;
    }
    .infosolo{
        font-size: 0.8em;
    }
}