.conteudo_titulo {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.title{
    text-align: left;
    font-size: 1.4em;
}
.nome{
    display: flex;
    text-align: left;
}

.img_logos_tec{
    max-width: 40vw;
    text-align: center;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 6s ease-in-out infinite;

}
@keyframes morph {
  0% {
			border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
	} 
	50% {
			border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
	}
	100% {
		border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
  	} 
}


@media (max-width: 768px) {
    .conteudo_titulo{
        display: block;
        align-items: center;
    }
    .img_logos_tec{
        max-width: 60vw;
        
    }
    .title{
        font-size: 1em;
    }
}

.name{
  color: var(--azul);
  overflow: hidden; 
  border-right: .10em solid var(--azul);
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size:1em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--azul); }
}

.title_4{
    color: #ffffff;
    background: linear-gradient(to right, #ffffff 0, var(--azul) 10%, #ffffff 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: brilhar 6s infinite linear;
    animation-fill-mode: forwards;
}
@keyframes brilhar {
    0% {background-position: 0} 
    50% {background-position: 160px} 
    100% {background-position: 380px} 
}

.curriculo{
  display:inline-block;
  margin-top: 30px;
  padding: 5px;
  background-color: var(--azul);
  border-radius: 15px;
}
.link_curriculo{
  color: var(--branco);
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}
@media (min-width: 100px) and (max-width: 768px) {
  .curriculo {
      border-radius: 15px;
      margin-top: 15px;
      margin-bottom: 10px;
  }
}